@charset "utf-8";
/* CSS Document */

/*clear style*/
*{margin:0;padding:0;}
li{list-style:none; }
a{ text-decoration:none; } 
img{ vertical-align:top; }
input,textarea,select{ outline:none; }
/*通用*/
.fl{float:left;}
.fr{float:right;}
.clearFix:after{ content:'';display:block;clear:both;}
.clearFix{zoom:1;}

.por{position:relative;}
.poa{position:absolute;}

